# Estudio de la clasficacion en clusters de los usuarios

In [2]:
import pandas as pd
import numpy as np

In [3]:
users = pd.read_csv('data/Prado_users_clusters.csv')
emotions = pd.read_csv('data/Prado_users_emotions.csv')
artworks = pd.read_csv('data/Prado_artworks_wikidata.csv')

In [4]:
users['positive'] = emotions['positive'].apply(eval)
users['negative'] = emotions['negative'].apply(eval)
users['mixed'] = emotions['mixed'].apply(eval)

In [5]:
users

,userId,age,gender,country,cluster,medoid,positive,negative,mixed
0,1,55-64,male,Spain,0,-1.0,"[57726f4cedc2cb3880ba07ed, 57726f4cedc2cb3880b...","[577278d5edc2cb3880d94196, 57727015edc2cb3880b...","[5772700eedc2cb3880bc82ce, 5772700eedc2cb3880b..."
1,2,25-34,female,Spain,0,-1.0,[],[57726f59edc2cb3880ba76b3],"[57726f59edc2cb3880ba76b3, 57726f59edc2cb3880b..."
2,3,18-24,female,Spain,1,-1.0,"[577278d5edc2cb3880d94196, 5772752eedc2cb3880c...","[5772700eedc2cb3880bc82ce, 577278d5edc2cb3880d...",[]
3,4,18-24,female,Spain,1,-1.0,"[577278d5edc2cb3880d94196, 57726f59edc2cb3880b...","[57726e45edc2cb3880b69781, 577278d5edc2cb3880d...",[]
4,5,35-44,male,Spain,0,-1.0,"[57726e34edc2cb3880b62340, 57726e34edc2cb3880b...","[57727cbaedc2cb3880e561f7, 57727cbaedc2cb3880e...","[57727cbaedc2cb3880e561f7, 57727015edc2cb3880b..."
...,...,...,...,...,...,...,...,...,...
166,298,45-54,male,Italy,0,-1.0,[57727015edc2cb3880bceb08],[57727015edc2cb3880bceb08],[]
167,299,45-54,male,Spain,1,-1.0,"[57726f59edc2cb3880ba76b3, 57726f59edc2cb3880b...",[],[]
168,300,25-34,female,Spain,1,-1.0,"[57727cbaedc2cb3880e561f7, 57727cbaedc2cb3880e...","[57727cbaedc2cb3880e561f7, 57727cbaedc2cb3880e...",[]
169,301,45-54,male,Spain,0,-1.0,[],[57727cbaedc2cb3880e561f7],"[57727cbaedc2cb3880e561f7, 57727cbaedc2cb3880e..."
170,306,55-64,male,Spain,0,-1.0,"[57726f59edc2cb3880ba76b3, 57726f59edc2cb3880b...","[57726f59edc2cb3880ba76b3, 57726f59edc2cb3880b...","[57726f59edc2cb3880ba76b3, 57726f59edc2cb3880b..."

In [6]:
clusters = []
for c in users.cluster.unique():
  clusters.append(users[users['cluster'] == c])

In [7]:
clusters[0].describe()

           userId  cluster     medoid
count   86.000000     86.0  86.000000
mean   115.534884      0.0  -0.976744
std     84.948247      0.0   0.215666
min      1.000000      0.0  -1.000000
25%     49.500000      0.0  -1.000000
50%     97.000000      0.0  -1.000000
75%    170.250000      0.0  -1.000000
max    306.000000      0.0   1.000000

In [8]:
clusters[1].describe()

           userId  cluster     medoid
count   85.000000     85.0  85.000000
mean   117.023529      1.0  -0.988235
std     79.270780      0.0   0.108465
min      3.000000      1.0  -1.000000
25%     48.000000      1.0  -1.000000
50%    109.000000      1.0  -1.000000
75%    174.000000      1.0  -1.000000
max    300.000000      1.0   0.000000

In [9]:
from collections import Counter
l = [1,2,2,3,4]
[[c[i]/sum(c.values()) for i in set(l)] for c in map(Counter, zip(*l))]

TypeError: 'int' object is not iterable

In [11]:
import collections

In [12]:
l = [1,2,2,3]
for i in [c for c in collections.Counter(l).values()]

SyntaxError: invalid syntax (Temp/ipykernel_2684/2870887720.py, line 2)

In [30]:
users_promedio = users.copy()
users_promedio = users_promedio.iloc[0:0]
users_promedio

Empty DataFrame
Columns: [userId, age, gender, country, cluster, medoid, positive, negative, mixed]
Index: []

In [31]:
for i, c in enumerate(clusters):
    print("-----------------------------------------------------------------------------------------------------")
    print('Cluster {}:'.format(i))
    
    g_arr = []
    for g in c.gender.unique():
        g_arr.append(np.count_nonzero(c['gender'] == g))
        # g = 'male' if count_nonzero(c['gender'] == 'male') > np.count_nonzero(c['gender'] == 'female') else 'female'
    gender_max = c.gender.unique()[g_arr.index(max(g_arr))]
    age_arr = []
    for a  in c.age.unique():
        age_arr.append(np.count_nonzero(c['age'] == a))
    age_max = c.age.unique()[age_arr.index(max(age_arr))]
    
    country_arr = []
    for co in c.country.unique():
        country_arr.append(np.count_nonzero(c['country'] == co))
    country_max = c.country.unique()[country_arr.index(max(country_arr))]
    
    positive_arr = []
    for l in c.positive:
      for k in l:
        # title = artworks[artworks['ID'] == k]['Title'].iloc[0]
        # positive_arr.append(title)
        positive_arr.append(k)
    negative_arr = []
    for l in c.negative:
      for k in l:
        # title = artworks[artworks['ID'] == k]['Title'].iloc[0]
        # negative_arr.append(title)
        negative_arr.append(k)
        
    mixed_arr = []
    for l in c.mixed:
      for k in l:
        # title = artworks[artworks['ID'] == k]['Title'].iloc[0]
        # mixed_arr.append(title)
        mixed_arr.append(k)
    
    uProm = {"userId":0,"age":age_max,"gender":gender_max,"country":country_max,"cluster":i,"medoid":i,"positive":positive_arr[:3],"negative":negative_arr[:3],"mixed":mixed_arr[:3]}
    users_promedio = users_promedio.append(uProm,ignore_index=True)
    print("numero de gente en cluster", i, sum(g_arr))
    print("Genero con mas aparicion en cluster", i,gender_max, "con un ", max(g_arr)/sum(g_arr)*100,"%")
    print("Edad con mas aparicion en cluster ", i, age_max , "con un ", max(age_arr)/sum(age_arr)*100,"%")
    print("Pais con mas aparicion en cluster ", i, country_max, "con un ", max(country_arr)/sum(country_arr)*100,"%")
    
    print("\nCuadros más gustados: ", sorted(zip(positive_arr, [c for c in collections.Counter(positive_arr).values()]), key=lambda x : x[1], reverse=True))
    print("\nCuadros menos gustados: ", sorted(zip(negative_arr, [c for c in collections.Counter(negative_arr).values()]), key=lambda x : x[1], reverse=True))
    print("\nCuadros mixed: ", sorted(zip(mixed_arr, [c for c in collections.Counter(mixed_arr).values()]), key=lambda x : x[1], reverse=True))
    
    print("----------------------------------------------------------------------------------------------------\n")

-----------------------------------------------------------------------------------------------------
Cluster 0:
numero de gente en cluster 0 86
Genero con mas aparicion en cluster 0 male con un  86.04651162790698 %
Edad con mas aparicion en cluster  0 35-44 con un  25.581395348837212 %
Pais con mas aparicion en cluster  0 Spain con un  39.53488372093023 %

Cuadros más gustados:  [('57726f48edc2cb3880ba012f', 62), ('57727d14edc2cb3880e6926e', 61), ('57726f4cedc2cb3880ba07ed', 44), ('57726f56edc2cb3880ba7233', 36), ('57727d14edc2cb3880e6926e', 18), ('57726f56edc2cb3880ba7233', 15), ('57726f48edc2cb3880ba012f', 11), ('57726f59edc2cb3880ba76b3', 11), ('57727c88edc2cb3880e4be65', 11), ('57727015edc2cb3880bceb08', 11), ('57727c2eedc2cb3880e392f5', 11), ('57727015edc2cb3880bceb08', 10), ('57726f59edc2cb3880ba76b3', 10), ('57727c95edc2cb3880e4d1d4', 9), ('57727015edc2cb3880bceb08', 8), ('57727015edc2cb3880bceb08', 8), ('57727c95edc2cb3880e4d1d4', 8), ('57726e34edc2cb3880b62340', 7), ('57726f56edc2cb3880ba7233', 7), ('57727c2eedc2cb3880e392f5', 7), ('57726f4cedc2cb3880ba07ed', 5), ('57726e34edc2cb3880b62340', 5), ('57726e34edc2cb3880b62340', 4), ('57727c2eedc2cb3880e392f5', 1), ('57727c2eedc2cb3880e392f5', 1), ('57726e34edc2cb3880b62340', 1)]

Cuadros menos gustados:  [('57727cbaedc2cb3880e561f7', 80), ('57726f59edc2cb3880ba76b3', 48), ('57727015edc2cb3880bceb08', 26), ('57727015edc2cb3880bceb08', 23), ('57727015edc2cb3880bceb08', 17), ('57727cbaedc2cb3880e561f7', 16), ('57727cbaedc2cb3880e561f7', 15), ('57726e45edc2cb3880b69781', 15), ('57727cbaedc2cb3880e561f7', 13), ('57726f59edc2cb3880ba76b3', 11), ('57726e34edc2cb3880b62340', 10), ('577278d5edc2cb3880d94196', 9), ('57726f59edc2cb3880ba76b3', 8), ('57727015edc2cb3880bceb08', 6), ('57726e45edc2cb3880b69781', 6), ('57726e45edc2cb3880b69781', 4), ('57726f49edc2cb3880ba034f', 4), ('57726f59edc2cb3880ba76b3', 3), ('57727cbaedc2cb3880e561f7', 3), ('57727c2eedc2cb3880e392f5', 2), ('57726f49edc2cb3880ba034f', 2), ('57727cbaedc2cb3880e561f7', 1), ('57726f49edc2cb3880ba034f', 1), ('57726f49edc2cb3880ba034f', 1), ('57726f49edc2cb3880ba034f', 1), ('57726e37edc2cb3880b628ee', 1), ('57726e37edc2cb3880b628ee', 1)]

Cuadros mixed:  [('57727015edc2cb3880bceb08', 39), ('57726f59edc2cb3880ba76b3', 35), ('577278d5edc2cb3880d94196', 15), ('577278cdedc2cb3880d9370c', 11), ('57726f77edc2cb3880baa4c5', 9), ('577278cdedc2cb3880d9370c', 8), ('57726f59edc2cb3880ba76b3', 8), ('5772700eedc2cb3880bc82ce', 6), ('57727015edc2cb3880bceb08', 6), ('57727cbaedc2cb3880e561f7', 5), ('57727c95edc2cb3880e4d1d4', 5), ('57726f59edc2cb3880ba76b3', 4), ('57727cbaedc2cb3880e561f7', 4), ('57726f77edc2cb3880baa4c5', 4), ('57727c2eedc2cb3880e392f5', 3), ('57727cbaedc2cb3880e561f7', 3), ('57726f77edc2cb3880baa4c5', 3), ('57726e34edc2cb3880b62340', 3), ('57726f59edc2cb3880ba76b3', 3), ('5772700eedc2cb3880bc82ce', 2), ('577278cdedc2cb3880d9370c', 2), ('57726e34edc2cb3880b62340', 2), ('57726e45edc2cb3880b69781', 2), ('57727c95edc2cb3880e4d1d4', 1), ('57726e45edc2cb3880b69781', 1)]
----------------------------------------------------------------------------------------------------

-----------------------------------------------------------------------------------------------------
Cluster 1:
numero de gente en cluster 1 85
Genero con mas aparicion en cluster 1 female con un  71.76470588235294 %
Edad con mas aparicion en cluster  1 35-44 con un  24.705882352941178 %
Pais con mas aparicion en cluster  1 Spain con un  40.0 %

Cuadros más gustados:  [('5772752eedc2cb3880cd9f38', 87), ('57727c95edc2cb3880e4d1d4', 85), ('57726fffedc2cb3880bc69d6', 41), ('5772752eedc2cb3880cd9f38', 33), ('5772700eedc2cb3880bc82ce', 21), ('5772700eedc2cb3880bc82ce', 19), ('57727c95edc2cb3880e4d1d4', 15), ('5772700eedc2cb3880bc82ce', 15), ('57726f59edc2cb3880ba76b3', 13), ('577278cdedc2cb3880d9370c', 13), ('57727c95edc2cb3880e4d1d4', 12), ('57727c88edc2cb3880e4be65', 11), ('577278d5edc2cb3880d94196', 10), ('57726f4cedc2cb3880ba07ed', 10), ('57727015edc2cb3880bceb08', 10), ('57727c95edc2cb3880e4d1d4', 10), ('57727071edc2cb3880be3213', 10), ('5772752eedc2cb3880cd9f38', 9), ('577278d5edc2cb3880d94196', 9), ('57726f59edc2cb3880ba76b3', 9), ('57727c95edc2cb3880e4d1d4', 9), ('57726f59edc2cb3880ba76b3', 8), ('57727071edc2cb3880be3213', 7), ('57727c88edc2cb3880e4be65', 5), ('57726f4cedc2cb3880ba07ed', 3), ('577278d5edc2cb3880d94196', 3), ('57726f59edc2cb3880ba76b3', 2), ('57726f59edc2cb3880ba76b3', 1), ('577278d5edc2cb3880d94196', 1)]

Cuadros menos gustados:  [('57726f76edc2cb3880baa425', 63), ('57727cbaedc2cb3880e561f7', 17), ('57726f78edc2cb3880baa755', 16), ('577278d5edc2cb3880d94196', 15), ('5772752eedc2cb3880cd9f38', 15), ('577278d5edc2cb3880d94196', 11), ('57727cbaedc2cb3880e561f7', 11), ('57727c95edc2cb3880e4d1d4', 9), ('57726e45edc2cb3880b69781', 9), ('577278d5edc2cb3880d94196', 9), ('57727cbaedc2cb3880e561f7', 9), ('5772700eedc2cb3880bc82ce', 7), ('57726f78edc2cb3880baa755', 7), ('57727cbaedc2cb3880e561f7', 6), ('577278d5edc2cb3880d94196', 5), ('57727015edc2cb3880bceb08', 4), ('57726fffedc2cb3880bc69d6', 4), ('577278cdedc2cb3880d9370c', 4), ('57726f76edc2cb3880baa425', 4), ('5772752eedc2cb3880cd9f38', 4), ('5772752eedc2cb3880cd9f38', 3), ('57727d5cedc2cb3880e751a0', 3), ('57727cbaedc2cb3880e561f7', 2), ('57727cbaedc2cb3880e561f7', 1), ('577278d5edc2cb3880d94196', 1), ('57726f76edc2cb3880baa425', 1), ('57727cbaedc2cb3880e561f7', 1)]

Cuadros mixed:  [('57726f59edc2cb3880ba76b3', 27), ('57726f59edc2cb3880ba76b3', 20), ('57727c95edc2cb3880e4d1d4', 12), ('577278d5edc2cb3880d94196', 8), ('57727c95edc2cb3880e4d1d4', 8), ('57727d14edc2cb3880e6926e', 7), ('57727c2eedc2cb3880e392f5', 7), ('57726f59edc2cb3880ba76b3', 6), ('577278d5edc2cb3880d94196', 6), ('57726e37edc2cb3880b628ee', 6), ('5772700eedc2cb3880bc82ce', 4), ('57726f4cedc2cb3880ba07ed', 3), ('57726f77edc2cb3880baa4c5', 3), ('57726f59edc2cb3880ba76b3', 3), ('57726f76edc2cb3880baa425', 2), ('57726f76edc2cb3880baa425', 2), ('57726f76edc2cb3880baa425', 2), ('577278d5edc2cb3880d94196', 2), ('57726e37edc2cb3880b628ee', 2), ('57726f4cedc2cb3880ba07ed', 2), ('57726f4cedc2cb3880ba07ed', 2), ('57727d14edc2cb3880e6926e', 2), ('57726f48edc2cb3880ba012f', 2), ('57726f48edc2cb3880ba012f', 2), ('57727c95edc2cb3880e4d1d4', 1), ('57727c2eedc2cb3880e392f5', 1), ('57727071edc2cb3880be3213', 1), ('57727071edc2cb3880be3213', 1)]
----------------------------------------------------------------------------------------------------

In [32]:
users[users['medoid'] != -1]

,userId,age,gender,country,cluster,medoid,positive,negative,mixed
129,175,35-44,male,Japan,0,1.0,[],"[57726e37edc2cb3880b628ee, 57726e37edc2cb3880b...","[57726e37edc2cb3880b628ee, 57726e37edc2cb3880b..."
140,199,25-34,female,Japan,1,0.0,"[57726e34edc2cb3880b62340, 57726e34edc2cb3880b...",[],[57726e34edc2cb3880b62340]

In [33]:
users_promedio.append(users[users['medoid'] != -1]).sort_values(by=['cluster'])

,userId,age,gender,country,cluster,medoid,positive,negative,mixed
0,0,35-44,male,Spain,0,0.0,"[57726f4cedc2cb3880ba07ed, 57726f4cedc2cb3880b...","[577278d5edc2cb3880d94196, 57727015edc2cb3880b...","[5772700eedc2cb3880bc82ce, 5772700eedc2cb3880b..."
129,175,35-44,male,Japan,0,1.0,[],"[57726e37edc2cb3880b628ee, 57726e37edc2cb3880b...","[57726e37edc2cb3880b628ee, 57726e37edc2cb3880b..."
1,0,35-44,female,Spain,1,1.0,"[577278d5edc2cb3880d94196, 5772752eedc2cb3880c...","[5772700eedc2cb3880bc82ce, 577278d5edc2cb3880d...","[57726f4cedc2cb3880ba07ed, 57727c95edc2cb3880e..."
140,199,25-34,female,Japan,1,0.0,"[57726e34edc2cb3880b62340, 57726e34edc2cb3880b...",[],[57726e34edc2cb3880b62340]