# Estudio de la clasficacion en clusters de los usuarios

In [1]:
import pandas as pd
import numpy as np

In [2]:
users = pd.read_csv('data/Prado_users_clusters.csv')

In [3]:
clusters = []
for c in users.cluster.unique():
  clusters.append(users[users['cluster'] == c])

In [4]:
clusters[0].describe()

           userId  cluster     medoid
count   86.000000     86.0  86.000000
mean   115.534884      0.0  -0.976744
std     84.948247      0.0   0.215666
min      1.000000      0.0  -1.000000
25%     49.500000      0.0  -1.000000
50%     97.000000      0.0  -1.000000
75%    170.250000      0.0  -1.000000
max    306.000000      0.0   1.000000

In [5]:
clusters[1].describe()

           userId  cluster     medoid
count   85.000000     85.0  85.000000
mean   117.023529      1.0  -0.988235
std     79.270780      0.0   0.108465
min      3.000000      1.0  -1.000000
25%     48.000000      1.0  -1.000000
50%    109.000000      1.0  -1.000000
75%    174.000000      1.0  -1.000000
max    300.000000      1.0   0.000000

In [49]:
for i, c in enumerate(clusters):
    print('Cluster {}:'.format(i))
    g_arr = []
    for g in c.gender.unique():
        g_arr.append(np.count_nonzero(c['gender'] == g))
        # g = 'male' if count_nonzero(c['gender'] == 'male') > np.count_nonzero(c['gender'] == 'female') else 'female'
    age_arr = []
    for a  in c.age.unique():
        age_arr.append(np.count_nonzero(c['age'] == a))
    country_arr = []
    for co in c.country.unique():
        country_arr.append(np.count_nonzero(c['country'] == co))
    print("numero de gente en cluster", i, sum(g_arr))
    print("Genero con mas aparicion en cluster", i, c.gender.unique()[g_arr.index(max(g_arr))], "con un ", max(g_arr)/sum(g_arr)*100,"%")
    print("Edad con mas aparicion en cluster ", i, c.age.unique()[age_arr.index(max(age_arr))], "con un ", max(age_arr)/sum(age_arr)*100,"%")
    print("Pais con mas aparicion en cluster ", i, c.country.unique()[country_arr.index(max(country_arr))], "con un ", max(country_arr)/sum(country_arr)*100,"%")

Cluster 0:
numero de gente en cluster 0 86
Genero con mas aparicion en cluster 0 male con un  86.04651162790698 %
Edad con mas aparicion en cluster  0 35-44 con un  25.581395348837212 %
Pais con mas aparicion en cluster  0 Spain con un  39.53488372093023 %
Cluster 1:
numero de gente en cluster 1 85
Genero con mas aparicion en cluster 1 female con un  71.76470588235294 %
Edad con mas aparicion en cluster  1 35-44 con un  24.705882352941178 %
Pais con mas aparicion en cluster  1 Spain con un  40.0 %

In [32]:
c.gender.unique()[g_arr.index(max(g_arr))]
c.age.unique()[age_arr.index(max(age_arr))]
c.country.unique()[country_arr.index(max(country_arr))]

'female'