In [ ]:
import numpy as np
import pandas as pd
import networkx as nx

from pyvis.network import Network # Visualización de los grafos

import random
import matplotlib.pyplot as plt # Para seleccionar colores aleatorios (necesito nº comunidades a pintar)

In [ ]:
users = pd.read_csv("data/Prado_users_clusters.csv")
sim = pd.read_csv("data/Prado_users_similarity.csv", index_col=0)

In [ ]:
sim

,1,2,3,4,5,6,7,8,9,10,...,270,275,277,288,289,298,299,300,301,306
1,1.000000,0.416249,0.499818,0.522329,0.696363,0.569129,0.566163,0.435751,0.661952,0.468615,...,0.327712,0.610783,0.516249,0.504460,0.706860,0.664596,0.622796,0.484323,0.611296,0.712393
2,0.416249,1.000000,0.528801,0.523783,0.429633,0.580163,0.534402,0.437257,0.395426,0.386718,...,0.494989,0.500000,0.900000,0.481663,0.431163,0.396326,0.363326,0.531200,0.610126,0.644989
3,0.499818,0.528801,1.000000,0.798133,0.524325,0.655990,0.554910,0.483860,0.619959,0.376557,...,0.534464,0.455663,0.428801,0.637326,0.508005,0.589668,0.518989,0.770634,0.456027,0.447790
4,0.522329,0.523783,0.798133,1.000000,0.551895,0.667521,0.554120,0.501028,0.639423,0.395981,...,0.572935,0.499152,0.423783,0.680815,0.446766,0.528429,0.562478,0.811388,0.495669,0.486261
5,0.696363,0.429633,0.524325,0.551895,1.000000,0.587819,0.523278,0.455242,0.756130,0.534297,...,0.312606,0.601746,0.529633,0.504033,0.743303,0.660416,0.585696,0.576576,0.689493,0.615330
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,0.664596,0.396326,0.589668,0.528429,0.660416,0.501221,0.505776,0.382445,0.797533,0.417943,...,0.324316,0.496326,0.496326,0.514663,0.881663,1.000000,0.633000,0.579726,0.558200,0.547663
299,0.622796,0.363326,0.518989,0.562478,0.585696,0.458555,0.427476,0.325966,0.694367,0.381463,...,0.458316,0.863326,0.463326,0.881663,0.514663,0.633000,1.000000,0.494526,0.500000,0.681663
300,0.484323,0.531200,0.770634,0.811388,0.576576,0.688338,0.576102,0.507338,0.675926,0.451783,...,0.457389,0.431200,0.431200,0.612863,0.498063,0.579726,0.494526,1.000000,0.563326,0.407389
301,0.611296,0.610126,0.456027,0.495669,0.689493,0.552020,0.476443,0.369427,0.629100,0.500908,...,0.189516,0.478926,0.710126,0.381663,0.568963,0.558200,0.500000,0.563326,1.000000,0.528463
306,0.712393,0.644989,0.447790,0.486261,0.615330,0.538718,0.553563,0.413223,0.608130,0.518181,...,0.539979,0.744989,0.744989,0.563326,0.545826,0.547663,0.681663,0.407389,0.528463,1.000000

In [42]:
sim.loc(0)[1]['306']

0.7123933333333332

In [43]:
users

     userId    age  gender country  cluster  medoid
0         1  55-64    male   Spain        0    -1.0
1         2  25-34  female   Spain        0    -1.0
2         3  18-24  female   Spain        1    -1.0
3         4  18-24  female   Spain        1    -1.0
4         5  35-44    male   Spain        0    -1.0
..      ...    ...     ...     ...      ...     ...
166     298  45-54    male   Italy        0    -1.0
167     299  45-54    male   Spain        1    -1.0
168     300  25-34  female   Spain        1    -1.0
169     301  45-54    male   Spain        0    -1.0
170     306  55-64    male   Spain        0    -1.0

[171 rows x 6 columns]

In [91]:
colors = ["red","green","blue","black","orange"]

In [52]:
G = nx.Graph()
net = Network(notebook=True)

for i in range(len(users)):
  G.add_node(i, userId=int(users.loc[i].userId), 
                 age=users.loc[i].age, 
                 gender=users.loc[i].gender, 
                 country=users.loc[i].country, 
                 cluster=int(users.loc[i].cluster))
  
  net.add_node(n_id=int(users.loc[i].userId), label=str(users.loc[i].userId), title='node', color=colors[users.loc[i].cluster])

In [45]:
# G.add_node(len(users) + 1, userId=int(len(users) + 1), 
#                age='35-44', 
#                gender=users.loc[i].gender, 
#                country=users.loc[i].country, 
#                cluster=int(users.loc[i].cluster))

In [46]:
# for i in range(len(G.nodes())):
#   G.add_edges_from([(list(G.nodes())[i], node) for node in list(G.nodes)[i+1:]])

In [47]:
len(G.nodes())

171

In [53]:
net.nodes[170]

{'title': 'node', 'color': 'red', 'id': 306, 'label': '306', 'shape': 'dot'}

In [42]:
for i in range(len(G.nodes())):
  a = G.nodes()[i]['userId']
  a_ = net.nodes[i].get('id')
  for j in range(i+1, len(G.nodes())):
    b = G.nodes()[j]['userId']
    b_ = net.nodes[j].get('id')
    # print(i, j, a, b)
    G.add_edge(i, j, weight=sim.loc(0)[a][str(b)])
    net.add_edge(a_, b_, value=sim.values[i][j], hidden=True)

In [47]:
net.edges[0]

{'value': 0.4998176979072822, 'from': 1, 'to': 2}

In [49]:
G.nodes()[0]

{'userId': 1,
 'age': '55-64',
 'gender': 'male',
 'country': 'Spain',
 'cluster': 0}

In [50]:
n = len(G.nodes())

print('Aristas grafo completo: ', int(n * (n-1) / 2))

Aristas grafo completo:  14535

In [51]:
len(G.edges())

14535

In [54]:
net.show_buttons()
net.show('nodes.html')

In [60]:
net = Network(notebook=True)

In [61]:
net.from_nx(G)

In [64]:
# nx.write_gexf(G, "data/Users.gexf")

## Conectar con Gephi

In [1]:
import numpy as np
import pandas as pd
import networkx as nx

In [2]:
from src.gephiVisualization import GephiVisualization

In [3]:
users = pd.read_csv("data/Prado_users_clusters_OnePolarity.csv")
# users = pd.read_csv("data/Prado_users_clusters.csv")
sim = pd.read_csv("data/Prado_users_similarity_OnePolarity.csv", index_col=0)

In [4]:
users

     userId    age  gender country  cluster  medoid
0         1  55-64    male   Spain        2    -1.0
1         2  25-34  female   Spain        0    -1.0
2         3  18-24  female   Spain        4    -1.0
3         4  18-24  female   Spain        1    -1.0
4         5  35-44    male   Spain        1    -1.0
..      ...    ...     ...     ...      ...     ...
166     298  45-54    male   Italy        4    -1.0
167     299  45-54    male   Spain        2    -1.0
168     300  25-34  female   Spain        0    -1.0
169     301  45-54    male   Spain        0    -1.0
170     306  55-64    male   Spain        0    -1.0

[171 rows x 6 columns]

In [9]:
GephiVisualization().load_community(users=users.values, distances=sim.values, users_properties=users.values[:, 1:].reshape(-1))

# -------------------------------------