In [1]:
import numpy as np
import pandas as pd
import networkx as nx

In [66]:
users = pd.read_csv("data/Prado_users_scaled_clusters.csv")

In [67]:
users

     userId       age    gender   country  cluster
0         1  4.107464  2.021723  1.787405        4
1         2  2.347123  0.000000  1.787405        3
2         3  1.760342  0.000000  1.787405        1
3         4  1.760342  0.000000  1.787405        1
4         5  2.933903  2.021723  1.787405        3
..      ...       ...       ...       ...      ...
166     298  3.520684  2.021723  1.787405        4
167     299  3.520684  2.021723  1.787405        4
168     300  2.347123  0.000000  1.787405        1
169     301  3.520684  2.021723  1.787405        4
170     306  4.107464  2.021723  1.787405        3

[171 rows x 5 columns]

In [77]:
G = nx.Graph()

for i in range(len(users)):
  G.add_node(i, userId=int(users.loc[i].userId), 
                 age=users.loc[i].age, 
                 gender=users.loc[i].gender, 
                 country=users.loc[i].country, 
                 cluster=int(users.loc[i].cluster))

In [78]:
for i in range(len(G.nodes())):
  G.add_edges_from([(list(G.nodes())[i], node) for node in list(G.nodes)[i+1:]])

In [79]:
G.nodes()[0]

{'userId': 1,
 'age': 4.107464472747751,
 'gender': 2.021722956442927,
 'country': 1.7874048008113603,
 'cluster': 4}

In [80]:
nx.write_gexf(G, "data/Users.gexf")