In [1]:
import numpy as np
import pandas as pd
import networkx as nx

In [7]:
users = pd.read_csv("data/Prado_users_scaled_clusters.csv")
sim = pd.read_csv("data/Prado_users_similarity.csv", index_col=0)

In [8]:
sim

,1,2,3,4,5,6,7,8,9,10,...,270,275,277,288,289,298,299,300,301,306
1,1.000000,0.416249,0.393736,0.453284,0.675086,0.526602,0.621673,0.278157,0.723263,0.450126,...,0.327712,0.610783,0.492949,0.504460,0.706860,0.664596,0.622796,0.484323,0.611296,0.612702
2,0.375389,1.000000,0.485263,0.493063,0.404763,0.525635,0.491602,0.348806,0.379826,0.284113,...,0.494989,0.500000,0.733333,0.481663,0.431163,0.396326,0.363326,0.510400,0.610126,0.409989
3,0.583148,0.528801,1.000000,0.875050,0.649380,0.736864,0.717845,0.540308,0.750643,0.420297,...,0.534464,0.455663,0.428801,0.637326,0.508005,0.589668,0.518989,0.770634,0.456027,0.447790
4,0.597048,0.523783,0.758563,1.000000,0.635606,0.694781,0.735329,0.414722,0.772003,0.461117,...,0.572935,0.499152,0.416763,0.680815,0.446766,0.528429,0.562478,0.811388,0.495669,0.470466
5,0.782473,0.429633,0.525326,0.630063,1.000000,0.631051,0.738496,0.366374,0.829863,0.586388,...,0.312606,0.601746,0.524313,0.504033,0.743303,0.660416,0.585696,0.576576,0.689493,0.593730
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,0.614996,0.396326,0.468600,0.461816,0.538330,0.409396,0.415976,0.247694,0.733333,0.354103,...,0.324316,0.479826,0.468826,0.492663,0.748330,1.000000,0.616500,0.511826,0.558200,0.491288
299,0.611796,0.363326,0.467212,0.489434,0.514596,0.398330,0.413326,0.243784,0.666667,0.356563,...,0.458316,0.863326,0.463326,0.814996,0.503663,0.633000,1.000000,0.494526,0.500000,0.548330
300,0.505189,0.531200,0.634585,0.729174,0.521296,0.698330,0.608952,0.373784,0.709593,0.412363,...,0.457389,0.431200,0.415600,0.602463,0.478663,0.579726,0.494526,1.000000,0.563326,0.367089
301,0.546410,0.610126,0.357489,0.384989,0.621663,0.465587,0.445793,0.248806,0.600000,0.421663,...,0.189516,0.478926,0.684126,0.381663,0.568963,0.558200,0.500000,0.429993,1.000000,0.491803
306,0.780700,0.644989,0.422119,0.516986,0.611626,0.530955,0.746963,0.347547,0.714663,0.588026,...,0.539979,0.744989,0.744989,0.563326,0.545826,0.547663,0.681663,0.407389,0.528463,1.000000

In [90]:
sim.loc(0)[1]['306']

0.6127016666666667

In [9]:
users

     userId       age    gender   country  cluster
0         1  4.107464  2.021723  1.787405        4
1         2  2.347123  0.000000  1.787405        3
2         3  1.760342  0.000000  1.787405        1
3         4  1.760342  0.000000  1.787405        1
4         5  2.933903  2.021723  1.787405        3
..      ...       ...       ...       ...      ...
166     298  3.520684  2.021723  1.787405        4
167     299  3.520684  2.021723  1.787405        4
168     300  2.347123  0.000000  1.787405        1
169     301  3.520684  2.021723  1.787405        4
170     306  4.107464  2.021723  1.787405        3

[171 rows x 5 columns]

In [94]:
G = nx.Graph()

for i in range(len(users)):
  G.add_node(i, userId=int(users.loc[i].userId), 
                 age=users.loc[i].age, 
                 gender=users.loc[i].gender, 
                 country=users.loc[i].country, 
                 cluster=int(users.loc[i].cluster))

In [100]:
# for i in range(len(G.nodes())):
#   G.add_edges_from([(list(G.nodes())[i], node) for node in list(G.nodes)[i+1:]])

In [95]:
for i in range(len(G.nodes())):
  a = G.nodes()[i]['userId']
  for j in range(i+1, len(G.nodes())):
    b = G.nodes()[j]['userId']
    # print(i, j, a, b)
    G.add_edge(i, j, weight=sim.loc(0)[a][str(b)])

In [96]:
G.nodes()[0]

{'userId': 1,
 'age': 4.107464472747751,
 'gender': 2.021722956442927,
 'country': 1.7874048008113603,
 'cluster': 4}

In [97]:
n = len(G.nodes())

print('Aristas grafo completo: ', int(n * (n-1) / 2))

Aristas grafo completo:  14535

In [98]:
len(G.edges())

14535

In [99]:
nx.write_gexf(G, "data/Users.gexf")