In [1]:
import pandas as pd
import numpy as np

In [2]:
users = pd.read_csv('data/Prado_users_clusters.csv')

In [7]:
clusters = []
for c in users.cluster.unique():
  clusters.append(users[users['cluster'] == c])

In [14]:
clusters[0].describe()

           userId  cluster     medoid
count   86.000000     86.0  86.000000
mean   115.534884      0.0  -0.976744
std     84.948247      0.0   0.215666
min      1.000000      0.0  -1.000000
25%     49.500000      0.0  -1.000000
50%     97.000000      0.0  -1.000000
75%    170.250000      0.0  -1.000000
max    306.000000      0.0   1.000000

In [15]:
clusters[1].describe()

           userId  cluster     medoid
count   85.000000     85.0  85.000000
mean   117.023529      1.0  -0.988235
std     79.270780      0.0   0.108465
min      3.000000      1.0  -1.000000
25%     48.000000      1.0  -1.000000
50%    109.000000      1.0  -1.000000
75%    174.000000      1.0  -1.000000
max    300.000000      1.0   0.000000

In [34]:
for i, c in enumerate(clusters):
  print('Cluster {}:'.format(i))
  print('\t Male: ', np.count_nonzero(c['gender'] == 'male'))
  print('\t female: ', np.count_nonzero(c['gender'] == 'female'))

Cluster 0:
	 Male:  74
	 female:  12
Cluster 1:
	 Male:  24
	 female:  61