In [1]:
import numpy as np
import pandas as pd

#### Importar los datos
Dataset clean_users: genero, edad, categoria, regularidad, id  
Dataset Prado_artworks_wikidata: cuadros  
Dataset Prado_emotions: user, cuadro, emotion, polaridad  
Dataset Prado_users: id,edad, genero, pais

In [2]:
clean_users_data = "data/clean_users.csv"
clean_users = pd.read_csv(clean_users_data)
# es necesaria el timestamp?
clean_users.head()

,user-gender,user-age,userCategory,museumVisits,timestamp,userId
0,Female,47.0,['Favourite-Painter'],['Rarely'],2021-04-16 12:23:31,1
1,Male,40.0,['Favourite-Painter'],['Sporadic'],2021-04-16 12:37:09,2
2,Female,34.0,['Amateur'],['Like-Museums'],2021-04-16 13:16:14,3
3,Female,29.0,['Favourite-Painter'],['Rarely'],2021-04-16 13:29:12,4
4,Female,29.0,['Not-Interested'],['Rarely'],2021-04-16 13:29:50,5

In [3]:
cuadros_data = "data/Prado_artworks_wikidata.csv"
cuadros = pd.read_csv(cuadros_data)
# ver que categorias son necesarias
cuadros.head()

,ID,Category,Artist,Title,Year,Image URL,Painting Info URL,Artist Info URL,Location,wd:paintingID,wd:paintingURL,wd:artistID,wd:artistURL
0,57726f48edc2cb3880ba012f,Romanticism,Francisco Goya,Charles IV of Spain and his family,1800,https://uploads7.wikiart.org/images/francisco-...,https://www.wikiart.org/en/francisco-goya/char...,https://www.wikiart.org/en/francisco-goya,"Museo del Prado, Madrid, Spain",Q920030,http://www.wikidata.org/entity/Q920030,Q5432,http://www.wikidata.org/entity/Q5432
1,57726e34edc2cb3880b62340,High Renaissance,Correggio,Noli Me Tangere,1534,https://uploads1.wikiart.org/images/correggio/...,https://www.wikiart.org/en/correggio/noli-me-t...,https://www.wikiart.org/en/correggio,"Museo del Prado, Madrid, Spain",Q124362,http://www.wikidata.org/entity/Q124362,Q8457,http://www.wikidata.org/entity/Q8457
2,57726f56edc2cb3880ba7233,Romanticism,Francisco Goya,"Summer, or The Harvest",1786,https://uploads3.wikiart.org/images/francisco-...,https://www.wikiart.org/en/francisco-goya/summ...,https://www.wikiart.org/en/francisco-goya,"Museo del Prado, Madrid, Spain",Q5849818,http://www.wikidata.org/entity/Q5849818,Q5432,http://www.wikidata.org/entity/Q5432
3,57727c95edc2cb3880e4d1d4,Northern Renaissance,Gerard David,Rest on the Flight into Egypt,1510-1515,https://uploads8.wikiart.org/images/gerard-dav...,https://www.wikiart.org/en/gerard-david/a-rest...,https://www.wikiart.org/en/gerard-david,"Museo del Prado, Madrid, Spain",Q20175244,http://www.wikidata.org/entity/Q20175244,Q333380,http://www.wikidata.org/entity/Q333380
4,57727016edc2cb3880bceb88,Baroque,Francisco de Zurbaran,The Defense of Cadiz against the English,1634,https://uploads8.wikiart.org/images/francisco-...,https://www.wikiart.org/en/francisco-de-zurbar...,https://www.wikiart.org/en/francisco-de-zurbaran,"Museo del Prado, Madrid, Spain",Q5801323,http://www.wikidata.org/entity/Q5801323,Q209615,http://www.wikidata.org/entity/Q209615

In [4]:
len(cuadros)

30

In [5]:
emotions_data = "data/Prado_emotions.csv"
emotions = pd.read_csv(emotions_data)
emotions.head()

   userId                 artworkId  emotion  Polarity
0       6  5772700eedc2cb3880bc82ce    trust  positive
1      20  5772700eedc2cb3880bc82ce     fear  negative
2      20  5772700eedc2cb3880bc82ce  sadness  negative
3      73  5772700eedc2cb3880bc82ce  sadness  negative
4       3  5772700eedc2cb3880bc82ce     fear  negative

In [6]:
prado_users_data = "data/Prado_users.csv"
prado_users = pd.read_csv(prado_users_data)
prado_users

     userId    age  gender country
0         1  55-64    male   Spain
1         2  25-34  female   Spain
2         3  18-24  female   Spain
3         4  18-24  female   Spain
4         5  35-44    male   Spain
..      ...    ...     ...     ...
166     298  45-54    male   Italy
167     299  45-54    male   Spain
168     300  25-34  female   Spain
169     301  45-54    male   Spain
170     306  55-64    male   Spain

[171 rows x 4 columns]

In [7]:
# ya que el dataset de prado_users tiene pais vamos a utilizar el dataset countries of the world para identificar las regiones de las que proceden
countries_data = "data/countries_of_the_world.csv"
countries = pd.read_csv(countries_data)
countries = countries.filter(items = ['Country', 'Region'])
countries.head()

           Country                               Region
0     Afghanistan         ASIA (EX. NEAR EAST)
1         Albania   EASTERN EUROPE
2         Algeria   NORTHERN AFRICA
3  American Samoa   OCEANIA
4         Andorra   WESTERN EUROPE

In [8]:
# eliminar el espacio en blanco despues de cada nombre de pais
for i in range(0, countries.shape[0] - 1):
    countries.loc[i] = countries.loc[i].replace(countries.loc[i]['Country'], countries.loc[i]['Country'][:-1])
countries

            Country                               Region
0       Afghanistan        ASIA (EX. NEAR EAST)
1           Albania  EASTERN EUROPE
2           Algeria  NORTHERN AFRICA
3    American Samoa  OCEANIA
4           Andorra  WESTERN EUROPE
..              ...                                  ...
222       West Bank  NEAR EAST
223  Western Sahara  NORTHERN AFRICA
224           Yemen  NEAR EAST
225          Zambia  SUB-SAHARAN AFRICA
226       Zimbabwe   SUB-SAHARAN AFRICA

[227 rows x 2 columns]

In [9]:
# sustituimos cada pais de procedencia de prado_users por un numero q corresponda con su region
# ver cuantas regiones hay
num_regions = 0
for i in countries['Region'].unique():
    num_regions += 1
    countries = countries.replace(i,num_regions)

In [10]:
# formatear los nombres de USA y Argentina
for c in prado_users['country'].unique():
    if c == 'USA':
        prado_users = prado_users.replace(c,'United States')
    if c == 'Argenitina':
        prado_users = prado_users.replace(c,'Argentina')
# reemplazar los paises por el numero de regiones
for country in prado_users['country'].unique():
    if country == 'Other':
        prado_users = prado_users.replace(country,0) #sustituir por 0 los usuarios que no sabemos de donde son
    else:
        prado_users = prado_users.replace(country,countries.loc[countries['Country'] == country]['Region'].to_list()[0])
age_index = 1
for age_range in prado_users['age'].unique():
    prado_users = prado_users.replace(age_range, age_index)
    age_index += 1

# gender
prado_users = prado_users.replace('female', 0)
prado_users = prado_users.replace('male', 1)

In [13]:
# introducimos en los valores de los usuarios las emociones con los cuadros
# convertimos el dataframe de las emociones en una lista que meter como una nueva columna en el dataframe de prado_users
emotions_list = {}
for i in prado_users['userId'].unique():
    emotions_list[i] = []
for e in emotions.iterrows():
    a = emotions_list[e[1][0]]
    a+= [(e[1][1], e[1][2],e[1][3])]
    emotions_list[e[1][0]] = a
# emotions_list

In [14]:
# todos los cuadros que el user 1 tiene alguna emotion
emotions_list[8]

[('577278d5edc2cb3880d94196', 'trust', 'positive'),
 ('577278d5edc2cb3880d94196', 'gratitude', 'positive'),
 ('577278d5edc2cb3880d94196', 'love', 'positive'),
 ('577278d5edc2cb3880d94196', 'fear', 'negative'),
 ('577278d5edc2cb3880d94196', 'pessimism', 'negative'),
 ('577278d5edc2cb3880d94196', 'anticipation', 'mixed'),
 ('577278d5edc2cb3880d94196', 'surprise', 'mixed'),
 ('57726f59edc2cb3880ba76b3', 'trust', 'positive'),
 ('57726f59edc2cb3880ba76b3', 'happiness', 'positive'),
 ('57726f59edc2cb3880ba76b3', 'anticipation', 'mixed'),
 ('57726f59edc2cb3880ba76b3', 'surprise', 'mixed'),
 ('57726e37edc2cb3880b628ee', 'fear', 'negative'),
 ('57726e37edc2cb3880b628ee', 'anticipation', 'mixed'),
 ('57726e37edc2cb3880b628ee', 'surprise', 'mixed'),
 ('57726f59edc2cb3880ba76b3', 'gratitude', 'positive'),
 ('57726f59edc2cb3880ba76b3', 'love', 'positive'),
 ('57727c95edc2cb3880e4d1d4', 'trust', 'positive'),
 ('57727c95edc2cb3880e4d1d4', 'humility', 'positive'),
 ('57727c95edc2cb3880e4d1d4', 'happiness', 'positive'),
 ('57727c95edc2cb3880e4d1d4', 'love', 'positive'),
 ('57727c95edc2cb3880e4d1d4', 'anticipation', 'mixed'),
 ('57727c95edc2cb3880e4d1d4', 'surprise', 'mixed'),
 ('57726f4cedc2cb3880ba07ed', 'trust', 'positive'),
 ('57726f4cedc2cb3880ba07ed', 'gratitude', 'positive'),
 ('57726f4cedc2cb3880ba07ed', 'love', 'positive'),
 ('57726f4cedc2cb3880ba07ed', 'arrogance', 'negative'),
 ('57726f4cedc2cb3880ba07ed', 'regret', 'negative'),
 ('57726f4cedc2cb3880ba07ed', 'anticipation', 'mixed'),
 ('57726f4cedc2cb3880ba07ed', 'surprise', 'mixed'),
 ('57727d14edc2cb3880e6926e', 'trust', 'positive'),
 ('57727d14edc2cb3880e6926e', 'happiness', 'positive'),
 ('57727d14edc2cb3880e6926e', 'anticipation', 'mixed'),
 ('57727d14edc2cb3880e6926e', 'surprise', 'mixed'),
 ('57727c2eedc2cb3880e392f5', 'trust', 'positive'),
 ('57727c2eedc2cb3880e392f5', 'happiness', 'positive'),
 ('57727c2eedc2cb3880e392f5', 'love', 'positive'),
 ('57727c2eedc2cb3880e392f5', 'pessimism', 'negative'),
 ('57727c2eedc2cb3880e392f5', 'regret', 'negative'),
 ('57727c2eedc2cb3880e392f5', 'sadness', 'negative'),
 ('57727c2eedc2cb3880e392f5', 'anticipation', 'mixed'),
 ('57727c2eedc2cb3880e392f5', 'surprise', 'mixed'),
 ('57726f48edc2cb3880ba012f', 'trust', 'positive'),
 ('57726f48edc2cb3880ba012f', 'happiness', 'positive'),
 ('57726f48edc2cb3880ba012f', 'love', 'positive'),
 ('57726f48edc2cb3880ba012f', 'anticipation', 'mixed'),
 ('57726f48edc2cb3880ba012f', 'surprise', 'mixed'),
 ('57727071edc2cb3880be3213', 'trust', 'positive'),
 ('57727071edc2cb3880be3213', 'agreeableness', 'mixed'),
 ('57727071edc2cb3880be3213', 'anticipation', 'mixed'),
 ('57727071edc2cb3880be3213', 'surprise', 'mixed'),
 ('57727cbaedc2cb3880e561f7', 'trust', 'positive'),
 ('57727cbaedc2cb3880e561f7', 'gratitude', 'positive'),
 ('57727cbaedc2cb3880e561f7', 'pessimism', 'negative'),
 ('57727cbaedc2cb3880e561f7', 'sadness', 'negative'),
 ('57727cbaedc2cb3880e561f7', 'anticipation', 'mixed'),
 ('57727cbaedc2cb3880e561f7', 'surprise', 'mixed'),
 ('5772700eedc2cb3880bc836e', 'trust', 'positive'),
 ('5772700eedc2cb3880bc836e', 'happiness', 'positive'),
 ('5772700eedc2cb3880bc836e', 'anger', 'negative'),
 ('5772700eedc2cb3880bc836e', 'fear', 'negative'),
 ('5772700eedc2cb3880bc836e', 'pessimism', 'negative'),
 ('5772700eedc2cb3880bc836e', 'regret', 'negative'),
 ('5772700eedc2cb3880bc836e', 'anticipation', 'mixed'),
 ('5772700eedc2cb3880bc836e', 'surprise', 'mixed'),
 ('57727015edc2cb3880bceb08', 'trust', 'positive'),
 ('57727015edc2cb3880bceb08', 'happiness', 'positive'),
 ('57727015edc2cb3880bceb08', 'love', 'positive'),
 ('57727015edc2cb3880bceb08', 'anticipation', 'mixed'),
 ('57727015edc2cb3880bceb08', 'surprise', 'mixed'),
 ('577278d5edc2cb3880d94196', 'regret', 'negative'),
 ('57726f59edc2cb3880ba76b3', 'humility', 'positive'),
 ('5772700eedc2cb3880bc836e', 'arrogance', 'negative'),
 ('57727d14edc2cb3880e6926e', 'love', 'positive'),
 ('57727c2eedc2cb3880e392f5', 'fear', 'negative'),
 ('57726e37edc2cb3880b628ee', 'agreeableness', 'mixed'),
 ('57726e37edc2cb3880b628ee', 'disagreeableness', 'mixed'),
 ('57727cbaedc2cb3880e561f7', 'agreeableness', 'mixed'),
 ('57727c95edc2cb3880e4d1d4', 'sadness', 'negative'),
 ('57727015edc2cb3880bceb08', 'gratitude', 'positive'),
 ('57727071edc2cb3880be3213', 'arrogance', 'negative'),
 ('57726f59edc2cb3880ba76b3', 'fear', 'negative')]

In [20]:
aux = prado_users 
aux

     userId  age  gender  country
0         1    1       1        5
1         2    2       0        5
2         3    3       0        5
3         4    3       0        5
4         5    4       1        5
..      ...  ...     ...      ...
166     298    6       1        5
167     299    6       1        5
168     300    2       0        5
169     301    6       1        5
170     306    1       1        5

[171 rows x 4 columns]

In [54]:
# for i in emotions[emotions['artworkId'] == '57726f48edc2cb3880ba012f'].get('userId'):
#     print(i)
    
emotions[emotions['artworkId'] == '57726f48edc2cb3880ba012f']

     userId                 artworkId       emotion  Polarity
628       8  57726f48edc2cb3880ba012f         trust  positive
629       8  57726f48edc2cb3880ba012f     happiness  positive
630       8  57726f48edc2cb3880ba012f          love  positive
631       8  57726f48edc2cb3880ba012f  anticipation     mixed
632       8  57726f48edc2cb3880ba012f      surprise     mixed
633      37  57726f48edc2cb3880ba012f      optimism  positive
634      28  57726f48edc2cb3880ba012f         trust  positive
635      28  57726f48edc2cb3880ba012f     gratitude  positive
636      28  57726f48edc2cb3880ba012f     happiness  positive
637       5  57726f48edc2cb3880ba012f     happiness  positive
638       5  57726f48edc2cb3880ba012f          love  positive
639     125  57726f48edc2cb3880ba012f         trust  positive
640      30  57726f48edc2cb3880ba012f     happiness  positive
641      30  57726f48edc2cb3880ba012f          love  positive
642      58  57726f48edc2cb3880ba012f     arrogance  negative
643       6  57726f48edc2cb3880ba012f         trust  positive
644     120  57726f48edc2cb3880ba012f         trust  positive
645     120  57726f48edc2cb3880ba012f          love  positive
646      15  57726f48edc2cb3880ba012f     arrogance  negative

In [21]:
for c in cuadros['ID']:
    emotions[emotions['artworkId'] == '57726f48edc2cb3880ba012f']

57726f48edc2cb3880ba012f
57726e34edc2cb3880b62340
57726f56edc2cb3880ba7233
57727c95edc2cb3880e4d1d4
57727016edc2cb3880bceb88
57726f78edc2cb3880baa755
57726f4cedc2cb3880ba07ed
57726f76edc2cb3880baa425
57726f4fedc2cb3880ba0b6d
5772700eedc2cb3880bc836e
57727015edc2cb3880bceb08
57726f77edc2cb3880baa4c5
57726e45edc2cb3880b69781
57727c88edc2cb3880e4be65
57727cbaedc2cb3880e561f7
57727d14edc2cb3880e6926e
57726fffedc2cb3880bc69d6
57727d5cedc2cb3880e751a0
57727c2eedc2cb3880e392f5
57726f59edc2cb3880ba76b3
577271fdedc2cb3880c384cc
57727015edc2cb3880bceb28
57727071edc2cb3880be3213
57726e37edc2cb3880b628ee
57726f49edc2cb3880ba034f
577278d5edc2cb3880d94196
5772752eedc2cb3880cd9f38
57727c2eedc2cb3880e39405
577278cdedc2cb3880d9370c
5772700eedc2cb3880bc82ce

In [57]:
# prado_users['Emotions'] = emotions_list

In [61]:
# prado_users.loc[prado_users['userId'] == 1]
prado_users

     userId  age  gender  country  Emotions
0         1    1       1        5         1
1         2    2       0        5         2
2         3    3       0        5         3
3         4    3       0        5         4
4         5    4       1        5         5
..      ...  ...     ...      ...       ...
166     298    6       1        5       298
167     299    6       1        5       299
168     300    2       0        5       300
169     301    6       1        5       301
170     306    1       1        5       306

[171 rows x 5 columns]

In [62]:
# normalizacion de los datos usando el standard scaler de sklearn
from sklearn.preprocessing import StandardScaler
users_scaled = prado_users.copy()
users_scaled.drop('userId', axis=1, inplace=True) #quitamos el numero de usuario ya que para clustering no es necesario
users_scaled['country'].unique()

array([ 5, 10,  0,  7,  1], dtype=int64)

In [63]:
scaler = StandardScaler(with_mean=False, with_std=True)

users_scaled = pd.DataFrame(data=scaler.fit_transform(users_scaled), index=prado_users['userId'], columns=users_scaled.columns.to_list())

users_scaled.head(10)

             age    gender   country  Emotions
userId
1       0.500137  2.021723  1.787405  0.012240
2       1.000274  0.000000  1.787405  0.024481
3       1.500411  0.000000  1.787405  0.036721
4       1.500411  0.000000  1.787405  0.048962
5       2.000547  2.021723  1.787405  0.061202
6       2.000547  0.000000  1.787405  0.073442
7       2.500684  0.000000  1.787405  0.085683
8       2.000547  0.000000  3.574810  0.097923
9       3.000821  2.021723  1.787405  0.110163
10      2.000547  2.021723  0.000000  0.122404

In [10]:
# empezamos a hacer clustering basado en paises/genero/edad

   userId    age  gender country
0       1  55-64    male   Spain
1       2  25-34  female   Spain
2       3  18-24  female   Spain
3       4  18-24  female   Spain
4       5  35-44    male   Spain